@import url('../colors/colors.css');
@import url('../fonts/fonts.css');

.app-new-btn {
    cursor: pointer;
    margin-top: 2.5625rem;
    background: var(--library-gradient-btn);
    padding: 0.3125rem 1.125rem;
    border: solid 2px var(--library-black);
    border-radius: 5px;
    font-family: var(--gentium-book-plus);
    font-size: var(--library-fnt16);
    font-weight: var(--bold);
    transition: 0.5s ease-in-out;
}

.app-new-btn:hover {
    filter: brightness(1.1);
}

.app-new-btn > div {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}